/* Estilos generales para la sección "Sobre Mí" */
#about {
  background-color: rgba(255, 255, 255, 1) ; /* Blanco */
  width: 100vw;
  height: 100vh;
  margin: 50px 0 0 0;
  
  
}

/* Título de la sección */
#about main:nth-child(1) {
  background-color: rgb(31, 28, 28) ; 
  color: aliceblue;
  width: 100vw;
  padding: 100px 0 0 0;
  border: solid red;;
}

main:nth-of-type(2), main:nth-of-type(3) {
  padding: 50px 0 0 50px ;
  width: 50%;
  text-align: justify;

}
