/* Estilo minimalista para la sección de Contacto */
#contact {
    background-color: #fff; /* Fondo blanco */
    padding: 50px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-bottom: 100px;
  }
  
  #contact h2 {
    font-size: 2.5em;
    color: var(--color-titulo); /* Título en gris oscuro */
    margin-bottom: 10px;
  }
  
  #contact p {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 30px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px; /* Máximo tamaño de los formularios */
    margin: 0 auto; /* Centrado */
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none; /* Elimina los bordes por defecto */
    border-bottom: 1px solid rgb(158, 154, 154); /* Agrega borde solo en la parte inferior */
    font-size: 1em;
    color: #29272798;
    transition: border-color 0.3s ease;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    border-bottom: 2px solid #1e90ff; /* Cambia el borde inferior a azul cuando está en foco */
    outline: none;
  }
  
  .contact-form button {
    background-color: #1e90ff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }
  
  