/* fonts.css */

/* Ejemplo: Fuente Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Ejemplo: Fuente Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

/* O si tienes tus fuentes locales, puedes declararlas de esta manera */
@font-face {
    font-family: 'MiFuentePersonalizada';
    src: url('fonts/MiFuentePersonalizada-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
