/* Estilos generales para la sección "Proyectos" */
#project {
  background-color: var(--color-fondo-secundario); 
  width: auto;
  height: 100vh;
  margin: 50px 0 0 0;
}

#project h1{
background-color: rgb(31, 28, 28) ; 
color: aliceblue;
width: 100vw;
padding: 100px 0 0 0;
border: solid red;
}
