/* Reiniciar estilos de la web */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}  

body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-texto-principal);
    line-height: 1.6;
    background-image: url('/image/sean-pollock-PhYq704ffdA-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
