@import "./font.css";
@import "./reset.css";
@import "./color.css";
@import "./home.css";
@import "./header.css";
@import "./about.css";
@import "./skill.css";
@import "./project.css";
@import "./contact.css";
@import "./footer.css";




header h1{
    color: var(--color-fondo);
}

header h2{
    color: var(--color-texto);
}

header h3{
    color: var(--color-enlace);
}

header h4{
    color: var(--color-titulo) !important;
    font-size: 50px;
}

header h5{
    color: var(--color-boton) !important;
    font-size: 50px;
}